@page "/"

<PageTitle>Home</PageTitle>

@* <h1>Lumi</h1> *@

<p style="padding-block: 3em">More details about Lumi will be told here soon.</p>

<img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_232/MjExNDE1MTUwNDcxNjg2MTMy/neko-atsume-character-profile-cocoa.webp" />

<p>You can find us => <a href="https://t.me/LumiFanbase">here</a></p>

<p>You can start using the platform => <a href="https://t.me/lumilumibot">here</a></p>

<p>List of members => <a href="/users">here</a></p>