@page "/"

<PageTitle>Home</PageTitle>

@* <h1>Lumi</h1> *@

<p>More details about Lumi will be told here soon.</p>

<img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_232/MjExNDE1MTUwNDcxNjg2MTMy/neko-atsume-character-profile-cocoa.webp" />
