@page "/"

<PageTitle>Home</PageTitle>

@* <h1>Lumi</h1> *@

@* <p style="padding-block: 3em">More details about Lumi will be told here soon.</p> *@

@* <img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_232/MjExNDE1MTUwNDcxNjg2MTMy/neko-atsume-character-profile-cocoa.webp" /> *@

@* <p>You can find us => <a href="https://t.me/LumiFanbase">here</a></p> *@

@* <p>You can start using the platform => <a href="https://t.me/lumilumibot">here</a></p> *@

@* <p>List of members => <a href="/users">here</a></p> *@




<div style="padding-block: 2em">

    <p>Ціллю проекту є об’єднання людей навколо наших творчих захоплень.</p>
    <aside style="padding: 2em">
        ❗Увага! Проект в експериментальному режимі
    </aside>

    <p>Це платформа для творчих, і не тільки, людей котрі хочуть поділитись своєю, та спостерігати за іншими творчими іскорками.</p>
    <p>Тут ти можеш знайти для себе цікавих творців, чи навіть друзів, або заявити про себе, і свої творіння на світ. Окрім того, тут можна знайти творців котрі виконують комерційні замовлення.</p>
    <h2 id="-">Як використовувати?</h2>
    <h3 id="-">🔭 Пошук учасників та проектів</h3>
    <ul>
        <li>Щоб переглянути усіх наших учасників, відкрий <a href="/users">Members</a>, або введи <i>@@lumilumibot</i>  будь-якому телеграм чаті.</li>
        <li>Щоб розпочати пошук учасників просто введи <i>@@lumilumibot @@username</i> у будь-якому телеграм чаті.</li>
    </ul>
    <h3 id="-">🛸 Поширення учасників та проектів</h3>
    <ul>
        <li>Щоб поширити проект достатньо скопювати посилання на профіль учаника, або натиснути на потрібний результат пошуку, через @@lumilumibot у будь-якому телеграм чаті.</li>
    </ul>
    <h3 id="-">⭐ Реєсрація і добавлення власних проектів</h3>
    <ul>
        <li>Щоб добавити себе і свої проекти, пройдіть процес реєстрації через  <a href="https://t.me/lumilumibot" target="_blank">@@lumilumibot</a></li>
    </ul>
    <h2 id="-">Як ви нас можете підтримати?</h2>
    <ul>
        <li>Злишити відгук, або пропозицію щодо розвитку нашого проекту в нашій групі <a href="https://t.me/LumiFanbase" target="_blank ">Lumi Funbase</a></li>
        <li>Взяти безпосередню участь при розробці даного проекту.</li>
        <li>Інформаційна підтримка. Яко молодому проекту, це надзвичайно необхідно!</li>
        <li>Фінансова підтримка.</li>
    </ul>
    <h2 id="-">Знайти нас можеш тут</h2>
    <p><a href="https://t.me/LumiFanbase">Lumi Fanbase</a></p>  


</div>