@page "/users"

@inject UsersApiClient UsersApi

<PageTitle>Users</PageTitle>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <caption>Users list</caption>
        <thead>
            <tr><th>Username</th></tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>    
                        <a class="is-vertical-align" href="/users/@user.Id">
                            @if (user.ProfileImages != null && user.ProfileImages.Count > 0)
                            {
                                <img style="height: 42px; width: 42px; object-fit: cover; border-radius: 10%;" src="@user.ProfileImages.First().FileHref">
                            }
                            <text style="padding-left: 10px">@user.Nickname</text>
                            @* <span class="tag is-right text-right is-rounded">2</span> *@
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}

@code {
    Vanilla_App.Services.Users.UserModel[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await UsersApi.GetUsersAsync();
    }
}
