@page "/users/id"

<PageTitle>User profile</PageTitle>

 <p>
                <figure>
                    <img style="height: 250px; border-radius: 15%;" src="https://dev-lumi.neko3.space/files/AgACAgIAAxkBAAJN1WdXmkYWW7pbe37ijFioCx3yXVgtAALB4jEbDXLBSke5.jpg" alt="Yumikki">
                </figure>
        </p>
        <p>
            <strong style="font-size:x-large;">Yuno</strong>
            <a class="is-vertical-align" href="http://t.me/Yumikki">Yumikki</a>
        </p>
        <p>I like neko :3</p>
        <a class="is-vertical-align" href="https://cern.eu/">cern.eu</a>
        <h2>Projects</h2>
        <hr>
        <p><strong>Віддам кота</strong>
        <em>InDevelopment</em></p>
        <p>Позичу кота у добрі руки</p>
        <p>Любить тепле молоко, шоколадки і фембойчиків
        Дуже розумний, має навички в кіберкотлетизмі, тому з вашого холодильника може зникати їжа
        Любить, коли його гладять. У повний місяць може перетворювати на некокотика, тому ніжним натурам сподобається</p>
        <p>Ціна питання, дюжена Старлінків у підрозділи
        Тривалість опіки, до обговорення у пп</p>
        <p>
            <a class="is-vertical-align" href="https://t.me/nitekot"><Img src="https://icongr.am/clarity/link.svg?size=24" /> https://t.me/nitekot</a>
        </p>
        <hr>
        <p><strong>Lumi beta</strong>
        <em>InDevelopment</em></p>
        <p>Бот через який можна поділитись своєю творчою частинкою з оточуючими 😉</p>
        <p>
            <a class="is-vertical-align" href="https://t.me/LumiFanbase"><Img src="https://icongr.am/clarity/link.svg?size=24" /> https://t.me/LumiFanbase</a>
        </p>
        <hr>

@code {

}
